/* Add styles for the Spinner container */
.my-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  /* Add styles for the countdown text */
  .countdown-text {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  /* Add styles for the spinner */
  .spinner-border {
    width: 6rem;
    height: 6rem;
    border: 0.8rem solid rgba(0, 123, 255, 0.1);
    border-top: 0.8rem solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  /* Add keyframes for the spinner animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  