.category {
  flex-wrap: wrap;
  margin-top: 80px !important;
}
.category .card {
  background-color: rgba(255, 246, 246, 0.097);
  width: 18rem;
}
.category .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category .card-price {
  color: green;
  font-weight: bold;
}


.category .card-text {
  color: rgb(90, 89, 89);
}




