@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/* font-family: 'Lora', serif; */

  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
/* font-family: 'Outfit', sans-serif; */

.banner-img {
  margin-top: 60px;
}

.my-checkbox{
  font-family: 'Lora', serif;
  font-size: 14px; 
}

.my-radio{
  font-family: 'Lora', serif;
  font-size: 14px; 
}
.text-center{
  font-family: 'Outfit', sans-serif;

  font-size: 24px; 
  font-weight: 300;
}
.my-reset-button{
  background-color: #2874f0 !important;
  color: black;
  font-family: 'Outfit', sans-serif;
  border-radius: 20px !important;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}



.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */

.filters{
  position: sticky !important;
  top: 20px;
  height: 500px;
  box-shadow: 0px 0px 12px 0px #ddd;
}

.filters h4 {
  margin-top: 100px;
  color: rgb(0, 0, 0) !important;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.337); */
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}




 .add-to-cart{
  font-family: 'Lora', serif;
  background-color: #006aff;
  border-radius: 6px !important;
} 



/* home page card design  */
.all-product-container{
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}

.my-products-container{
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 5px;
  /* font-size: 30px; */
  text-align: center;
}

.data-below-img{
  
}

.my-category-img{
    height: 200px;
    width: 190px;
}

.price-and-name-container{

}
.product-name{

}

.price-class{

}

.description-text{

}

.button-container{

}

.more-details-button{

}

.add-to-cart-button{
  color: #fff;
  padding: 10px 15px;
  border-radius: 100px;
  background-color: #ff0808;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  cursor: pointer;

}